:root {
  --primaryBg: #0c2a3d;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--primaryBg);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  /* color: white; */
}
