:root {
  --primaryBg: #092537;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--primaryBg);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: white;
}
